---
- name: install packages
  with_items: "{{ haproxy_packages }}"
  pkgng:
    name: "{{ item.name }}"
  notify:
    - restart haproxy

- name: configure haproxy
  template:
    src: haproxy.conf.j2
    dest: /usr/local/etc/haproxy.conf
  notify:
    - restart haproxy

- name: enable haproxy
  template:
    src: haproxy.j2
    dest: /etc/rc.conf.d/haproxy
  notify:
    - restart haproxy
